
@{
    ViewBag.Title = "SignOutCallback";
}

<div class="alert alert-success ">
    <strong>Success!</strong><span style="margin-left: 5px;">You have successfully signed out. To sign back in @Html.ActionLink("click here", "SignIn", "User"). </span>
</div>

